body {
  font-size: 19px;
  color: black;
  background-color: #463f3a;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

div.container {
  background-color: rgb(254,255,248);
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  width: 80%;
  margin: 30px;
}

footer {
  width: 80%;
  text-align: center;
  margin-left: 30px;
  padding: 10px;
  font-weight: bold;
  color: #f4f3ee;
}

a {
  color: rgb(2,47,47);
}

a:active {
  color: rgb(29,49,49);
  -moz-text-decoration-line: none !important;
  text-decoration-line: none !important;
  outline: none;
}

a:focus {
  color: rgb(29,49,49);
  -moz-text-decoration-line: none !important;
  text-decoration-line: none !important;
  outline: none;
}

a:hover {
  color: rgb(29,49,49);
  -moz-text-decoration-line: none !important;
  text-decoration-line: none !important;
  outline: none;
}

a:visited {
  color: rgb(29,49,49);
  -moz-text-decoration-line: none !important;
  text-decoration-line: none !important;
  outline: none;
}

header h1 {
  margin: 0;
}

img.gh-logo {
  width: 30px;
  margin-left: 20px;
}

div.log img {
  width: 75px;
}

header.main-header {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

a.nav-btn {
  padding: 10px;
  margin-right: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline;
  font-size: 20px;
}

a.nav-selected {
  border-left: 0;
  background-color: darkslategray;
  color: whitesmoke;
}

a.subnav-btn {
  padding: 5px;
  margin-right: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline;
  font-size: 17px;
}

a.subnav-selected {
  border-left: 0;
  background-color: darkslategrey;
  color: whitesmoke;
}

div.site-title {
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  -o-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -moz-flex-grow: 2;
  -ms-flex-grow: 2;
  -o-flex-grow: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}

div.site-links {
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  -o-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

div.terminal {
  overflow: scroll;
  color: white;
  background-color: black;
}

div.terminal pre {
  background-color: black;
  color: white;
  padding: 20px;
}

@media screen and (min-width:1600px) {
  div.container {
    width: 50%;
    margin-left: 25%;
  }
}

